<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - [%level] - from %logger in %thread %n%msg%n%ex%n</pattern>
        </encoder>
    </appender>

    <property name="LOGS" value="./logs" />

    <appender name="Logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/spring-boot-logger.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - [%level] - from %logger in %thread %n%msg%n%ex%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/spring-boot-logger-%d{yyyy-MM}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Overwrite level for a internal code - Commented out for now -->
<!--        <logger name="edu.carroll.SpeedTyping.service.ContentServiceImpl" level="WARN"/>-->

    <!-- Reduce DB startup chatter -->
    <logger name="org.hibernate" level="INFO" />
    <logger name="com.zaxxer.hikari" level="INFO" />

    <!-- Default level is INFO -->
    <root level="INFO">
        <appender-ref ref="Console" />
        <appender-ref ref="Logfile" />
    </root>
</configuration>
