<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="index.css" type="text/css" rel="stylesheet">
  <title>Serving HTML Content</title>
</head>
<body>
<header>
  <nav class="navbar navbar-dark" style="background-color: #9277f1;">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">SpeedTyping</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Leaderboard
            </a>
          </li>
      </div>
    </div>
  </nav>
</header>
<p>This is a paragraph<p>
</body>
<footer class="text-center text-lg-start text-white" style="background-color: #9277f1">
  <section class="d-flex justify-content-center justify-content-lg-between p-3 border-bottom">
  </section>

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
    </div>
  </section>
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright.
    <a class="text-reset fw-bold" href="https://github.com/jackaholy/SpeedTyping">https://github.com/jackaholy/SpeedTyping</a>
  </div>
  <!-- Copyright -->
</footer>
</html>